@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --main-color: hotpink;

}

body {
    padding: 0;
    margin: 0;
      font-family: "Roboto Slab", serif;
    font-weight: 400;
}
ul,li{
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content:space-between;
    background-color: #2b2b2b;
}
.msgLogo > a{
    color: var(--main-color);
}
.wrapper{
    display: flex;
    flex-direction: row;
    gap:30px;
    flex-wrap: wrap;
    max-width: 1200px;
}
.container{
    /* height: 150px; */
    max-width: 300px;
    width: 200px;
    margin: 20px auto; 
    border-radius: 8px;
    padding: 0px 20px;
    background-color: rgb(253,253,202);
    box-shadow: 1px 3px 5px;
}
.message{
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 13px;
    padding: 2px;

}
.form {
    max-width: 500px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input, textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: green;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

.msgLogo{
    margin-top:10px;
}